html {
height:100%;
width:100%;
margin:0;
}

body {
font-family: 'Lato';
font-size:1vw;
height:80%;
margin:0px;
}

#main-container {
width:100%;
height:auto;
min-height:100%;
display:flex;
background-image:url( '../images/bg.jpg');
}

#content {
width:80%;
height:auto;
margin-left:auto;
margin-right:auto;
background-color:white;
border:3px solid lightgrey;
padding-bottom:3em;
}

header {
height:13%;
background-image:url( '../images/header.jpg ');
padding:.5vw 0 0.4vw 0;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}
/*header*/
#header-content {
text-align:center;
height:3vw;
margin-left:auto;
margin-right:auto;
text-align:center;
font-family: 'Itim';
}

#organiser img {
height:100%;
width:auto;
display:inline;
}

#organiser {
width:100%;
height:100%;
max-height:100%;
color:white;
font-size:3.5vw;
}
/*task table*/
#tasks {
padding-top:3vw;
width:70%;
margin-left:auto;
margin-right:auto;
padding-bottom:3vw;
display:flex;
}

#tasks >div {
flex:1;
padding:.8em;
}

#tasks table {
text-align:center;
width:100%;
border-collapse:collapse;
overflow-x:auto;
overflow-y:auto;
}

thead td,tfoot td {
font-family: 'Lato';
padding:.8vw;
font-size:1.5vw;
}

tbody td {
padding:.8vw;
font-size:1.5vw;
border:3px solid lightgrey;
}
/*set themes*/
.todo {
background-color:#F12840; /* red */
color:white;
}

.progress {
background-color:#F19928; /* orange */
color:white;
}

.done {
background-color:#0BBC13; /* green */
color:white;
}
/* Make rounded borders */
table thead tr:first-child td:first-child {
border-top-left-radius:10px;
}

table thead tr:first-child td:last-child {
border-top-right-radius:10px;
}

table tfoot tr:last-child td:first-child {
border-bottom-left-radius:10px;
}

table tfoot tr:last-child td:last-child {
border-bottom-right-radius:10px;
}
/*Underline and make titles bold on hover*/
tbody td:nth-of-type(2n-1):hover,tbody td:nth-of-type(2n):focus {
font-weight:bold;
text-decoration:underline;
cursor:pointer;
}
/* buttons */
button {
color:white;
width:100%;
height:100%;
font-weight:bold;
border-radius:20px;
text-align:center;
font-family: 'Lato';
}

button:hover {
cursor:pointer;
}
/* dialogue buttons */
#todo_delete,#progress_delete,#done_delete {
display:none;
}

#todo_delete button,#progress_delete button,#done_delete button {
width:45%;
}
/* Do not display more information until title is clicked
Do not underline or make titles bold on hover*/
.todo_info,.progress_info,.done_info {
background-color:#EDEDED; /* light grey */
display:none;
}

tbody .todo_info td:hover,tbody .todo_info td:focus,tbody .progress_info td:hover,tbody .progress_info td:focus,tbody .done_info td:hover,tbody .done_info td:focus {
font-weight:normal;
text-decoration:none;
cursor:auto;
}
/* Do not display edit buttons until edit button is clicked*/
.todo_editbuttons,.progress_editbuttons,.done_editbuttons {
display:none;
}

tbody .todo_editbuttons td:hover,tbody .progress_editbuttons td:hover,tbody .done_editbuttons td:hover {
cursor:auto;
}
/*error messages*/
.error_class,.error_class:hover {
text-decoration:none;
font-size:1vw;
color:red;
font-weight:bold;
display:none;
text-align:center;
}
/*hide submit error*/
span#submit_err {
    display: none;
    padding-top: 8em;
    padding-bottom: 1em;
    white-space: nowrap;
    width: 100%;
}
/* add new task styling */
.add_buttons {
width:70%;
background-color:lightgrey;
color:black;
height:7%;
font-size:1.3vw;
}

.new_task_left,.new_task_right {
width:20%;
padding-top:1em;
padding-bottom:1em;
}

.new_task_center {
margin:auto;
text-align:center;
width:100%;
}

.new_task_left {
float:left;
margin-left:20em;
}

.new_task_right {
float:right;
margin-right:20em;
}

#new_task {
display:none;
}

footer {
height:auto;
text-align:center;
margin:auto;
padding-top:3vw;
background-image:url( '../images/header.jpg');
border-top-left-radius:10px;
border-top-right-radius:10px;
padding-top:1em;
padding-bottom:.9em;
}
/*footer styling*/
#footer-content {
font-size:1.5vw;
color:white;
}
/*Responsive*/
@media screen and (max-width:800px) {
#tasks {
display:block;
width:90%;
padding-bottom:5vw;
}

header {
height:8vw;
padding:1vw;
}

body {
font-size:3vw;
}

tbody td,tfoot td,thead td {
padding:2vw;
font-size:3vw;
}

#header-content {
height:6vw;
}

#organiser {
width:100%;
height:100%;
font-size:6vw;
}

#footer-content {
font-size:3vw;
}

.new_task_left input,.new_task_right input {
font-size:3vw;
}

.new_task_left,.new_task_right {
float:none;
width:100%;
margin-left:22vw;
margin-right:0;
}

button {
padding:1vw;
font-size:3vw;
}

.add_buttons {
font-size:3vw;
}

.error_class,.error_class:hover {
text-decoration:none;
font-size:3vw;
}

span#submit_err {
    padding-top: 1em;
}
}