html {
height:100%;
width:100%;
margin:0;
background-color:black;
color:black;
}

body {
font-family: 'Lato ';
}

/*header*/

#header-content {
text-align:center;
height:4vw;
margin-left:auto;
margin-right:auto;
text-align:center;
font-family: 'Itim ';
}

#organiser img {
height:100%;
width:auto;
display:inline;
}

#organiser {
width:100%;
height:100%;
max-height:100%;
color:white;
font-size:3vw;
}

/*task table*/

#tasks {
padding-top:3vw;
width:70%;
margin-left:auto;
margin-right:auto;
padding-bottom:1em;
display:flex;
}

#tasks >div {
flex:1;
}

#tasks table {
text-align:center;
width:100%;
border-collapse:collapse;
overflow-x:auto;
overflow-y:auto;
}

thead {
text-align:center;
color:white;
font-size:3vw;
}

tbody td, thead td, tfoot td {
padding:.8vw;
font-size:1vw;
border:3px solid black;
}
/* Make rounded borders */
table thead tr:first-child td:first-child {
border-top-left-radius:10px;
}

table thead tr:first-child td:last-child {
border-top-right-radius:10px;
}

table tfoot tr:last-child td:first-child {
border-bottom-left-radius:10px;
}

table tfoot tr:last-child td:last-child {
border-bottom-right-radius:10px;
}
/*Set backgorund color and font colour for each header*/
#todo-div thead {
background-color:#F12840;
color:white;
}

#inprogress-div thead {
background-color:#F19928;
color:white;
}

#done-div thead {
background-color:#0BBC13;
color:white;
}

/*Set backgorund color and font colour for each footer*/
#todo-div tfoot {
background-color:#F12840;
color:white;
}

#inprogress-div tfoot {
background-color:#F19928;
color:white;
}

#done-div tfoot {
background-color:#0BBC13;
color:white;
}


/*Alternate colours*/
tbody tr:nth-of-type(2n-1) {
background:#FFFFFF;
}

#todo-div tr:nth-of-type(2n) {
background:#FFDDE1;
}

#inprogress-div tbody tr:nth-of-type(2n) {
background:#FED9AE;
}

#done-div tbody tr:nth-of-type(2n) {
background:#B0FFB4;
}
/*Underline and make titles bold on hover*/
tbody td:nth-of-type(2n-1):hover,tbody td:nth-of-type(2n):focus {
font-weight:bold;
text-decoration:underline;
cursor:pointer;
}

#footer-content {
text-align:center;
color:white;
font-size:2vw;
}


/*Responsive*/
@media screen and (max-width: 700px){
#tasks {
display: block ;
width: 100%
}


tbody td, tfoot td, thead td {
padding:2vw;
font-size:3vw;
}
#header-content
{
    height: 6vw;
}
#organiser {
width:100%;
height:100%;
font-size:6vw;
}


}